<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <div class="contenedor_agregar">
        <form action="" method="post" enctype="multipart/form-data">
            <h1>Login</h1>
            {% csrf_token %} 
            {{form}}
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>