{% extends 'index.html' %}
{% load static %}
{% block cuerpo %}
<div class="filtros">
    <form action="" method="get">

        <div class="dropdown">
            <button id="filtroo" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Casa
            </button>
            <ul class="dropdown-menu">
              <input type="submit" class="dropdown-item" name="filtro" value="Gryffindor" id="Gryffindo" >
              <input type="submit" class="dropdown-item" name="filtro" value="Ravenclaw" id="Ravencla">
              <input type="submit" class="dropdown-item" name="filtro" value="Hufflepuff" id="Hufflepuf">
              <input type="submit" class="dropdown-item" name="filtro" value="Slytherin" id="Slytheri">
              <input type="submit" class="dropdown-item" name="filtro" value="">
            </ul>
          </div>
    </form>
</div>
<div class="contenedor_visualizar">
    {% for i in forms %}
    <div class="card" style="width: 18rem;">
        <img src="{{i.Imagen.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">Nombre: {{i.Nombre}}</h5>
            <h5 class="card-title">Descripcion: {{i.Descripcion}}</h5>
            <p class="card-text">Precio: {{i.Precio}}</p>
            {% if perms.App.change_personajes %}
            <a href="{% url 'modificar' i.Codigo %}" class="btn btn-outline-light">Editar</a>
            {% endif %}
            {% if perms.App.delete_personajes %}
            <a href="{% url 'eliminar' i.Codigo %}" class="btn btn-outline-danger">Eliminar</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}