{% extends 'index.html' %}
{% load static %}
{% block cuerpo %}
<div class="contenedor_visualizar">
    {% for i in forms %}
    <div class="card" style="width: 18rem;">
        <img src="{{i.Imagen.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">Nombre: {{i.Nombre}}</h5>
            <h5 class="card-title">Descripcion: {{i.Descripcion}}</h5>
            <p class="card-text">Precio: {{i.Precio}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}